<!DOCTYPE html>
<html lang="tr">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
      
      <title>{{ projectName }} {{#if pageName}} | {{ pageName }} {{~/if}}</title>
      <meta name="description" content="{{ projectDescription }}" />
      <meta name="keywords" content="{{ projectkeywords }}" />
      <meta name="author" content="{{ projectAuthor }}" />

      <link rel="shortcut icon" href="assets/image/trademark/favicon.png" type="image/x-icon" />
      <link rel="stylesheet" href="/src/style/style.css" />
      <link rel="stylesheet" href="/src/style/utils.css" />
      <script type="module" src="/src/script/script.js"></script>
   </head>

   <body class="select-none group/body scrollbar scrollbar-w-1 scrollbar-h-1 scrollbar-thumb-main-500 scrollbar-track-main-500/10 scrollbar-thumb-rounded-none [&.scroll-deactive]:scrollbar-w-0">